<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
	id = "com.ot-care.keyboardFunLite"
	versionCode = "10"
	version = "0.0.1">

<name>keyboard Fun Lite</name>
<description>
   This app is designed by an Occupational Therapist to help children with physical or learning disabilities identify where keys are on the keyboard.
</description>
<author href="http://ot-care.com" email="sue@ot-care.com">
      Sue Hossack
  </author>
 
 
 
  <!-- all platforms -->
  <preference name="phonegap-version" value="cli-6.0.0" />
  <preference name="orientation" value="both" />
  <preference name="fullscreen" value="true" />
 

 <!-- Android only -->
 
  <preference name="android-versionCode" value="0.0.1"/>
  <preference name="android-build-tool" value="ant|gradle" />
  <preference name="android-minSdkVersion" value="10" />
  <preference name="android-maxSdkVersion" value="15" />
  <preference name="android-targetSdkVersion" value="12" />
  <preference name="android-installLocation" value="auto" />
  <preference name="android-windowSoftInputMode" value="stateVisible|adjustResize" />
 
 
<platform name="android"
 <icon src="icon.png" width="400" height="400" />
 </platform>
 
 
 
 
<splash src="splash.png" />
 <splash src="Default-Portrait.png" platform="android" qualifier="port-xxhdpi" />
<splash src="Default-Landscape.png" platform="android" qualifier="land-xxhdpi" />

</widget>806W760z3%97
#Oi1333z3814