body {
    background-color: white;
}

div {
    //background-color: white;
 }
  
#table1 {
    background-color: gray; 
/* border-collapse: collapse;*/
	border: 1px gray;
    width: 100%;
}

#table2 {
   background-color: lightgray; 
	border: 1px solid grey;
    width: 95%;
}
p {
    font-family: Arial, Helvetica, sans-serif;
	  font-size: 16px;
}

 td{

    padding: 1px;
	 WIDTH:50px;
	 height: 50px;
    text-align: center;
    border: 3px solid WHITE;
	border-radius: 10px;
}
#keyPicture {
	width:40%;
	height:40%; 
	text-align:right;
    border: 3px solid darkgrey;
	border-radius: 50px;	
}
.fuchsia {
   background-color:#FF00FF; 
 }	

 .red {
   background-color: red; 
 }	
 .green {
   background-color: green; 
 }	 
  .blue {
   background-color: royalBlue; 
 }	
  .royalblue {
   background-color: royalBlue; 
 }	
 .purple {
   background-color: purple; 
 }	
  .yellow {
   background-color: yellow; 
 }	
  .white {
   background-color: white; 
 }	
 .black {
   background-color: black; 
   color:white;
 }	
 .grey {
   background-color: grey; 
 }	
 .gray {
   background-color: grey; 
 }
 .lightGray {
   background-color: lightgrey; 
 }
 .darkGray {
   background-color: darkgrey; 
 }
 .right {text-align:right;
 width:50%;height:50%;"
 }
 
 .left {text-align:left;
  width:50%;height:50%;"
  }
 
 input[type=text] {
   width: 20px;
	height:10px;
	maxlength:1;
	autofocus;
	color:yellow;
	outline:none;
}

 input:focus { 
    background-color: yellow;
	color:yellow;
	outline:none;
}

.image1 {
  position: relative;
  top: 0;
  left: 0;
}
.image2 {
  position: absolute;
  top: 0px;
  left: 0px;
}
button {
	background-color:lightGrey;
	height:2em;
	border-radius: 10px;
}
//settings page
